.rightdiv {
  position: absolute;
  top: 0;
  left: 250px;
  width: 50%;
  height: 100px;
}
.rightdiv input {
  width: 500px;
  height: 50px;
  border-radius: 25px;
  margin-top: 20px;
  border: none;
  background-color: #eaf1fb;
  padding-left: 40px;
}
.searchdiv {
  position: relative;
  display: inline-block;
}
.imgsearch {
  position: absolute;
  top: 60%;
  right: 470px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  mix-blend-mode: color-burn;
}
.options {
  position: absolute;
  top: 60%;
  right: 50px;
}

.imgdiv {
  position: absolute;
  top: 0;
  left: 600px;
  display: flex;
  padding-left: 20px;
  margin-top: 35px;
}
.firstimg {
  padding-right: 20px;
  width: 20px;
}
.secondimg {
  padding-right: 20px;
  width: 20px;
}
.thirdimg {
  padding-right: 20px;
  width: 20px;
}
.fourthimg {
  padding-right: 20px;
  width: 20px;
}
